# An OpenSSL format CSR config file for creating a client certificate with
# an empty subject and a single, critical URI subject alternative name,
# as issued by Istio's istiod, for example.  The X.509-SVID specification
# requires the URI SAN to be critical when the subject is empty.

[ req ]
distinguished_name     = req_distinguished_name
req_extensions         = v3_req
prompt                 = no

[ req_distinguished_name ]

[ v3_req ]
subjectAltName         = critical,URI:spiffe://postgresql.example/ns/default/sa/ssltestuser
